<h1>Add a new item</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for="x">Link URL</label>
    <input id="x" type="text" name="link_url_param">
  </div>

  <div>
    <label for="y">Link description</label>
    <input id="y" type="text" name="link_description_param">
  </div>

  <div>
    <label for="z">Thumbnail URL</label>
    <input id="z" type="text" name="thumbnail_url_param">
  </div>

  <button>Create item</button>
</form>
